<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
        <script>
            $(function() {
              $( "#startdate" ).datepicker();
              $( "#enddate" ).datepicker();
            });
            $(document).ready(function(){
                $("#submit").click(function(){
                    alert("Venue:" + $("#Venue").val() + "Start: " + $("#startdate").val() + "End: " + $("#enddate").val());
                });
            });
        </script>
    </head>

    <body>
        <select id="filter1">
            <option value="">Venue</option>
            <option value="W311A">W311A</option>
            <option value="W311B">W311B</option>
            <option value="W311-H1">W311-H1</option>
            <option value="W311-H2">W311-H2</option>
            <option value="W311-H3">W311-H3</option>
            <option value="W311D-Z1">W311D-Z1</option>
        </select>
        <p>Start Date:<input type="text" id="startdate"></p>
        <p>End Date:<input type="text" id="enddate"></p>
        <table id="mainTable">
            <thead>
                <tr>
                    <th>Venue</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>Event</th>
                    <th>Instructor</th>
                </tr>
            </thead>
            {% for event in events %}
                <tr>
                    <td>{{ event.venue }}</td>
                    <td>{{ event.time_start }}</td>
                    <td>{{ event.time_end }}</td>
                    <td>{{ event.event_name }}</td>
                    <td>{{ event.instructor }}</td>
                </tr>
            {% endfor %}
        </table>
        <script>
            var myTable = document.getElementById("mainTable");
            var filter1 = document.getElementById("filter1");
            var startdate = document.getElementById("startdate");
            var enddate = document.getElementById("enddate");
            
            filter1.addEventListener("change", filterTable);
            startdate.addEventListener("change", filterTable);
            enddate.addEventListener("change", filterTable);
            
            function filterTable() {
                var filter1Value = filter1.value;
                var startDate = new Date(startdate.value);
                var endDate = new Date(enddate.value);
                var rows = myTable.rows;
                for (var i = 1; i < rows.length; i++){
                    var row = rows[i];
                    var showRow = true;
                    var venue = row.cells[0].innerHTML;
                    var start = new Date(row.cells[1].innerHTML);
                    var end = new Date(row.cells[2].innerHTML);
                    
                    if (filter1Value != venue || (start < startDate) || (end > endDate))
                        showRow = false;
                    row.style.display = showRow ? "" : "none";
                }
            }
        </script>
    </body>
</html>