<!-- display.html -->
<table>
    <tr>
        <th>Venue</th>
        <th>Date</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th>Event</th>
        <th>Instructor</th>
    </tr>
    {% for event in events %}
        <tr>
            <td>{{ event.venue }}</td>
            <td>{{ event.time_start }}</td>
            <td>{{ event.time_end }}</td>
            <td>{{ event.event }}</td>
            <td>{{ event.instructor }}</td>
        </tr>
    {% endfor %}
</table>