<!doctype html>

{% load static %}

<HTML>
    <head>
        <title> Smart Campus </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script>
            var idleTime = 0;
            var idleTimeout = 15; // 设置超时时间为15秒
    
            // 检测用户活动
            function resetTimer() {
                idleTime = 0;
            }
    
            // 检查用户活动时间
            function checkIdleTime() {
                idleTime++;
                if (idleTime >= idleTimeout) {
                    // 执行自动返回登录界面的操作，例如重定向到登录页面
                    window.location.href = 'http://localhost:5173';
                }
            }
    
            // 监听用户活动事件
            document.addEventListener('mousemove', resetTimer);
            document.addEventListener('keydown', resetTimer);
            document.addEventListener('mousedown', resetTimer);
            document.addEventListener('touchstart', resetTimer);
            setInterval(checkIdleTime, 1000); // 每秒检查一次用户活动时间
        </script>
    </head>

    <body style="background-color: #fcee09;">
        <div class="container">
            
            <div class="header">
                <h1 class="cyberpunk glitched">INFOR PORT</h1>
            </div>
            
            <button id="Main_Button" style="top: 80px;width: 7%;left: 10%;height:30px;">Main</button>
            <button id="W311_H1_Button" style="top: 80px;width: 7%;left: 20%;height:30px;">W311_H1</button>
            <button id="W311_H2_Button" style="top: 80px;width: 7%;left: 30%;height:30px;">W311_H2</button>
            <button id="W311_H3_Button" style="top: 80px;width: 7%;left: 40%;height:30px;">W311_H3</button>
            <button id="W311a_Button" style="top: 80px;width: 7%;left: 50%;height:30px;">W311a</button>
            <button id="W311b_Button" style="top: 80px;width: 7%;left: 60%;height:30px;">W311b</button>
            <button id="W311d_Z1_Button" style="top: 80px;width: 7%;left: 70%;height:30px;">W311d_Z1</button>
            <button id="W311d_Z2_Button" style="top: 80px;width: 7%;left: 80%;height:30px;">W311d_Z2</button>

            <div id="tableContainer">

                <table id="W311_H1">

                    <caption>Table: W311_H1</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311_H1 %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <table id="W311_H2">

                    <caption>Table: W311_H2</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311_H2 %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <table id="W311_H3">

                    <caption>Table: W311_H3</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311_H3 %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <table id="W311a">

                    <caption>Table: W311a</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311a %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <table id="W311b">

                    <caption>Table: W311b</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311b %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <table id="W311d_Z1">

                    <caption>Table: W311d_Z1</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311d_Z1 %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <table id="W311d_Z2">

                    <caption>Table: W311d_Z2</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in W311d_Z2 %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>

                <table id="mainTable">

                    <caption>Table: Main</caption>

                    <thead>
                        <tr>
                            <th>Node_ID</th> <th>Location</th> <th>Temperature</th> <th>Hum</th> <th>Light</th> <th>Snd</th> <th>Date Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.node_id }}</td>
                                <td>{{ event.loc }}</td>
                                <td>{{ event.temp }}</td>
                                <td>{{ event.hum }}</td>
                                <td>{{ event.light }}</td>
                                <td>{{ event.snd }}</td>
                                <td>{{ event.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            <br>
            <br>
            
            <a href="http://localhost:8000/iot/transfer/">
                <button>Go to transfer station</button>
            </a>

            <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
            <script src="https://cdn.jsdelivr.net/gh/Kaiyuan-W/live2d-widget/live2d-widget-master/autoload.js"></script>

        </div>
        <script>
            function toggleTable(buttonId, tableId) {

              var toggleButton = document.getElementById(buttonId);
              var table = document.getElementById(tableId);
              var tables = document.getElementsByTagName('table');

              for (var i = 0; i < tables.length - 1; i++)
                tables[i].style.display = 'none';
              
              toggleButton.addEventListener('click', function() {

                for (var i = 0; i < tables.length; i++)
                  tables[i].style.display = 'none';
            
                table.style.display = 'table';
              });
            }

            var Buttoms = ['W311_H1_Button', 'W311_H2_Button', 'W311_H3_Button', 'W311a_Button',
                           'W311b_Button', 'W311d_Z1_Button', 'W311d_Z2_Button', 'Main_Button']

            var Loc = ['W311_H1', 'W311_H2', 'W311_H3', 'W311a', 'W311b', 'W311d_Z1', 'W311d_Z2', 'mainTable']

            for(var i=0;i<=7;i++)
                toggleTable(Buttoms[i], Loc[i])

        </script>
</HTML>