<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>IC2140 TM1118</title>
  </head>
  <!-- Javascript: chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Smart Campus in W311</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"
              >Dashboard</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="data_event">DataJSON</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="log" >Log</a>
          </li>
          {% comment %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          {% endcomment %}
        </ul>
        {% comment %}
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endcomment %}
      </div>
    </div>
  </nav>

  <body>
    <div class="container">
      <!-- Content here -->


      <h1><span class="badge bg-secondary">{{node_id}}</span></h1>

      <p>MQTT data</p>

      <canvas id="chart" width="400" height="200"></canvas>
      <script>
        var ctx = document.getElementById("chart");
        var chart = new Chart(ctx, {
          type: "line",
          
          data: {
            labels: [],
            datasets: [
              {
                label: 'Temperatures Through Time',
                data: [],
              },
            ],
          },
        });
      </script>
    </div>

    <!-- Javascript: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      function getFeed() {
        $.ajax({
          url: "/dashboard/data_event",
          dataType: "json",
          success: function (data) {
            var dataTemp = [];
            dataset = JSON.parse(data)
            dataset.reverse()
            dataset.forEach((item) => dataTemp.push(item.fields.temp));
            var dataTimestamp = [];
            dataset.forEach((item) =>
              dataTimestamp.push(item.fields.time)
            );
            chart.data.labels = dataTimestamp;
            chart.data.datasets[0].data = dataTemp;
            chart.update();

          },
          complete: function (data) {
            setTimeout(getFeed, 1000);
          },
        });
      }
      $(document).ready(function () {
        setTimeout(getFeed, 1000); 
      });
    
    </script>
  </body>
</html>
