<!doctype html>
{% load static %}
<HTML>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body style="background-color: #fcee09;">
        <div class="header">
            <h1 class="cyberpunk glitched">DASHBOARD</h1>
        </div>
        <div style="width:70%; margin: 0 auto;">
        <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" 
        href="https://cdn.flexmonster.com/theme/dark/flexmonster.min.css"/>
        <div id="pivot-container" style="width:70%; border: 2px solid  #00ffdd; 
        border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);">
        </div>

        <script>
            function processData(dataset) {
                var result = []
                dataset = JSON.parse(dataset);
                dataset.forEach(item => result.push(item.fields));
                return result;
            }
        </script>

        <script>
            $.ajax({
                url: '/dashboard/temp_data',
                dataType: 'json',
                success: function(data) {
                    new Flexmonster({
                        container: "#pivot-container",
                        componentFolder: "https://cdn.flexmonster.com/",
                        toolbar: true,
                        report: {
                            dataSource: {
                                type: "json",
                                data: processData(data),
                                mapping: {
                                    "node_id": { "caption": "Node_ID" },
                                    "loc": { "caption": "Location" },
                                    "temp": { "caption": "Temperature", "type": "number" },
                                    "hum": { "caption": "Hum", "type": "number"},
                                    "light": { "caption": "Light", "type": "number"},
                                    "snd": { "caption": "Sound", "type": "number"},
                                }
                            },
                            slice: {
                                rows: [
                                    { uniqueName : "node_id"},
                                ],
                                columns: [
                                    { uniqueName : "loc"},
                                    { uniqueName : "[measures]", label : "Temperature" },
                                    { uniqueName : "[measures]", label : "Humidity" },
                                    { uniqueName : "[measures]", label : "Light" },
                                    { uniqueName : "[measures]", label : "Sound" },
                                ],
                                measures: [
                                    { 
                                        uniqueName : "temp",
                                        aggregation : "average",
                                    },
                                    { 
                                        uniqueName : "hum",
                                        aggregation : "average",
                                    },
                                    { 
                                        uniqueName : "light",
                                        aggregation : "average",
                                    },
                                    { 
                                        uniqueName : "snd",
                                        aggregation : "average",
                                    },
                                ]
                            },
                            formats: [
                                {
                                    name: "degree",
                                    decimalPlaces: 1,
                                }
                            ],
                            conditions: [
                                
                            ],
                            options: {
                                viewType: "charts",
                                chart: {
                                    type: "Column",
                                },
                            },
                        }
                    });
                }
            });
        </script>
        </div>
        <a href="http://localhost:8000/iot/transfer/">
            <button>Go to transfer station</button>
        </a>
    </body>
</HTML>