<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>IC2140 TM1118</title>
    </head>
    <body style="background-color: #fcee09;">
        <div class="container">
            <h1 class="cyberpunk glitched">Venue Events</h1>
        <form action="/Venue/" method="POST" id="post-form">
          <input type="date" id="startdate" name="startdate" reqired>
          <input type="time" id="starttime" name="starttime" required>
          <input type="date" id="enddate" name="enddate" reqired>
          <input type="time" id="endtime" name="endtime" required>
          <input type="submit" value="Send Request">
        </form>
        <tbody>
        <table id="dataTable" data-page-length="15">
          <thead>
            <tr>
              <th>Venue</th>
              <th>Date</th>
              <th>Time Start</th>
              <th>Time End</th>
              <th>Event</th>
              <th>Instructor</th>
            </tr>
          </thead>
            {% for VenueEvent in VenueEvents %}
            <tr>
              <td>{{ VenueEvent.venue }}</td>
              <td>{{ VenueEvent.date }}</td>
              <td>{{ VenueEvent.timeStart }}</td>
      
              <td>{{VenueEvent.timeEnd}}</td>
      
              <td>{{VenueEvent.event}}</td>
      
              <td>{{VenueEvent.instructor}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
          <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
          <script src="https://cdn.jsdelivr.net/gh/Kaiyuan-W/live2d-widget/live2d-widget-master/autoload.js"></script>
      </div>
      
      </body>
      <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
      <script>
          $('#dataTable').DataTable({"lengthMenu": [[15,25, 50,100, -1], [15, 25, 50,100, "All"]]});
      </script>
</html>
   